{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row  justify-content-center">
    
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card" style="background: #130F40;">
                    <div class="card-body">
                        {% include 'alert.html' %}
                        <div class="text-center">
                            <h4 class="text-white">Todo List<a href="{% url 'create'%}" class="float-end">+</a></h4>
                        </div>
                        <hr class="text-white">
                        <div class="todo-list text-center">
                            {% for todo in todos %}
                            <div class="border border-white p-2 mb-2 d-flex justify-content-between">
                               

                                {% if todo.completed == True %}
                                <div>
                                    <a href="{% url 'update' todo.id %}"><strike class="lead text-white">{{ todo.trim}}</strike></a>
                                </div>
                                {% else %}
                                <div>
                                    <a href="{% url 'update' todo.id %}"><span class="lead text-white">{{ todo.trim}}</span></a>
                                </div>
                                {% endif %}
                                <div>
                                    <form action="{% url 'delete' todo.id %}" method="POST" class="d-inline-block">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger" value="X" />
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}