{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}	
	<form action="" method="POST" class="log">
    {% csrf_token %}
    <h1 class="text-center">Login</h1>
	  {% include 'alert.html' %}
		<label for="username">Username:</label>
		<input type="text" id="username" name="username">
		<label for="password">Password:</label>
		<input type="password" id="password" name="password">
		<input type="submit" value="Login" class="gre" style="margin-bottom: 10px;">
        You Don't have account?<a href="{% url 'register' %}">Register</a>
    </form>
{% endblock content %}