{% extends 'base.html' %}
{% block title %}
Register
{% endblock%}
{% block content %}

{% include 'alert.html' %}

<form action="" method="POST" class="log">
    {% csrf_token %}
    <h4 class="text-center">Registration</h4>
    <label for="">Email </label>
    {{form.email}}
    <label for="">Username </label>
    {{form.username}}
    <label for="">Password </label>
    {{form.password1}}
    <label for="">Conform Password </label>
    {{form.password2}}
    <input type="submit" value="Register" class="gre">
    <div class="mt-2 text-center">
        You already have account?<a href="{% url 'login' %}">Login</a>
    </div>
</form>


{% endblock content %}