{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 mt-5">
            <div class="">
                <div class="card mr-5 shadow mt-5" style="background: #130F40">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <h4 class="text-white">Update Todo</h4>
                            </div>
                            <hr class="text-white">
                            <div class="form-group text-white">
                                {{ form|crispy }}
                            </div>
                            <div class="text-center mt-2">
                                <input type="submit" class="btn btn-success mt-3 btn-block" value="Update"
                                    style="width:200px;" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}